html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

div {
    display: block;
}

.fade-in {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#nav-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 1;
    width: 20rem;
}

.active-menu {
    display: flex;
    flex-direction: column;
}

#nav-container .active-menu {
    height: 100%;
}

#nav-container #nav-links {
    display: none;
}

#nav-container a.icon {
    color: rgb(0, 0, 0);
    font-size: 40px;
    padding: 14px 14px;
    margin: 0;
}

#nav-links a {
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    line-height: 80px;
    margin: 0 25px;
}

#hero {
    width: 100%;
    height: 100vh;
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-position: center;
    z-index: 0;
}

#hero .hero-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text h1 {
    font-size: 72px;
    color: white;
}

.hero-text p {
    font-size: 42px;
    font-weight: bold;
    color: black;
}

.highlight {
    background-color: rgba(25, 163, 255, 0.6);
    padding: 0 1rem;
}

#about-me {
    height: 100vh;
    width: 100%;
    background-image: url(./images/about.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
}

.portrait-img {
    height: 30rem;
    border-radius: 50%;
    border: solid white 2px;
}

.align-items {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}

.page-section {
    padding: 6rem 0;
}

section {
    display: block;
}

.bg-light {
    background-color: rgb(242, 242, 242);
}

.section-heading {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.p-top-5 {
    padding-top: 5rem;
}

.col-md-4 {
    position: relative;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.d-block {
    display: block !important;
}

.p-0 {
    padding-left: 0 !important;
}

.p-50 {
    padding-left: 5rem;
}

.m-0 {
    margin: 0 !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.h-50 {
    height: 50vh;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.align-items-center {
    align-items: center !important;
}

.text-left {
    text-align: left !important;
}

.w-50 {
    width: 50%;
}

.p-about p {
    position: relative;
    line-height: 1.75;
    margin-top: 0;
    margin-bottom: 1rem;
    display: flex;
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    font-weight: 600;
    flex-direction: column;
}

#nav-links a:hover {
    color: rgb(25, 163, 255);
}

.justify-content-center {
    justify-content: center !important;
}

.d-flex {
    display: flex !important;
}

border-0 {
    border: 0 !important;
}

.card {
    position: relative;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.card-body {
    padding: 3.5rem;
}

.skill-icon {
    width: 6rem;
    height: 6rem;
    transition: transform .2s;
}

img {
    vertical-align: middle;
}

.card-text-margin {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.5rem;
}

.bg-light-blue {
    background-color: rgb(214, 245, 255);
}

.contact-spacing {
    padding: 2rem 3rem;
}

.contact-h {
    font-size: 1.25rem;
}

i {
    padding: 0 .5rem;
}

.skill-icon:hover {
    transform: scale(1.5);
}

.text-light {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.project-thumbnail {
    height: 15rem;
    transition: transform .4s;
    border-radius: 10px;
}

.project-thumbnail:hover {
    transform: scale(1.25);
    cursor: pointer;
}