html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.cover {
    background-image: url(./images/cover-image.jpg);
    height: 1100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.title {
    text-align: center;
    position: absolute;
    width: 100%;
    color: white;
    height: auto;
    margin-top: 400px;
}

.scroll-btns {
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    margin-top: 700px;
}

h1 span {
    font-size: 4vw;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

h3 span {
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

h1,
h3 {
    padding: 5px;
}

.btn {
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 25px 50px;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    margin: 30px 30px;
    background-color: rgb(0, 0, 0, 0.7);
    transition: ease-in 0.2;
}

.btn:hover {
    color: black;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8)
}

#about-me h1 {
    padding: 10vh 0 10vh 0;
    text-align: center;
    font-size: 5vh;
    color: white;
    font-weight: 500;
}

#about-me p span {
    text-align: center;
    font-size: 25px;
    justify-content: space-around;
    padding: 10px;
    color: white;
    background-color: rgb(0, 0, 0, 0.8)
}

#projects h1 {
    padding: 10vh 0 10vh 0;
    text-align: center;
    font-size: 5vh;
    font-weight: 500;
}

#about-me {
    background-image: url(./images/about-me.jpg);
    background-position: center;
    background-size: cover;
    height: 1100px;
}

#about-me p {
    line-height: 2;
    text-align: center;
    /*margin-left: 8vh;*/
    font-size: 25px;
}

.fadeIn {
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.thumbnail {
    height: 300px;
    box-shadow: 0 0 20px 5px black;
    border-radius: 5%;
    transition: transform .4s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.project-section {
    display: flex;
    margin: 0 50px 0 50px;
    height: 1100px;
}

.project {
    height: auto;
    list-style: none;
}

#projects {
    background-image: url(./images/projects.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.2s ease-out, transform 0.6s ease-out;
    will-change: opacity, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
    display: flex;
}

#projects h1 span,
#about-me h1 span {
    background-color: (0, 0, 0, 0.7);
    color: white;
}